future==0.18.2
gazebo-ros==2.8.7
GitPython==3.1.11
grpcio==1.33.1
gym==0.17.2
matplotlib==3.3.1
numpy==1.19.4
python-git==2018.2.1
rospkg==1.2.8
rospy==1.14.10
tensorflow==1.14.0
tensorflow-estimator==1.14.0

